{% extends 'professionnel_base.html.twig' %}

{% block title %}
Plans
{% endblock %}

{% block contenu %}
<h1>Plan</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ plan.id }}</td>
    </tr>
    <tr>
      <th>Libelle</th>
      <td>{{ plan.libelle }}</td>
    </tr>
    <tr>
      <th>Date</th>
      <td>{{ plan.laDate ? plan.laDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
      <th>Plan</th>
      <td><a href="{{ asset('uploads/plans/' ~ plan.cheminFic) }}">Voir le plan</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}
