{% extends 'professionnel_base.html.twig' %}

{% block title %}
Facture
{% endblock %}

{% block contenu %}
<h1>Facture</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ facture.id }}</td>
    </tr>
    <tr>
      <th>Libelle</th>
      <td>{{ facture.libelle }}</td>
    </tr>
    <tr>
      <th>Date</th>
      <td>{{ facture.laDate ? facture.laDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
      <th>Fichier</th>
      <td><a href="{{ asset('uploads/factures/' ~ facture.cheminFic) }}">Voir la facture</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
