<form method="post" action="{{ path('plan_delete', {'id': plan.id, idBien:bien.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce plan ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plan.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
