{% extends 'proprietaire_base.html.twig' %}

{% block title %}
Mes plans
{% endblock %}

{% block contenu %}
<div class="row">
  <div class="col-md-12">
    <center>

      <h2>Ajouter un nouveau plan</h2>
      <p>33 Rue de la Paix - 64600 Anglet</p>
      <hr>

    </center>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">

    {{ include('plan/_form.html.twig') }}

    <a href="{{ path('plan_index') }}">
      <i class="demo-icon icon-undo" style="font-size:30px; color:#138496"></i>
    </a>

  </div>
  <div class="col-md-3">
  </div>
</div>

{% endblock %}
