{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <center>
      <button class="btn btn-info">{{ button_label|default('Ajouter !') }}</button>
    </center>
{{ form_end(form) }}
