{% extends 'proprietaire_base.html.twig' %}

{% block title %}
Mes interventions
{% endblock %}

{% block contenu %}
<center>
  <h2>Modifier l'intervention : {{ intervention.libelle }}</h2>
</center>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">

  {{ include('intervention/_form.html.twig', {'button_label': 'Valider'}) }}
  <br>
  <center>
  {{ include('intervention/_delete_form.html.twig') }}
</center>

</div>
<div class="col-md-3">
</div>
</div>
{% endblock %}
