<!DOCTYPE html>

<title>New Intervention</title>

{% block body %}
    <h1>Create new Intervention</h1>

    {{ include('intervention/_form.html.twig') }}

    <a href="{{ path('intervention_index') }}">back to list</a>
{% endblock %}
