<form method="post" action="{{ path('autorisation_delete', {'id': autorisation.id, idBien:bien.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette entreprise de vos autorisations ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ autorisation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
