{% extends 'proprietaire_base.html.twig' %}

{% block title %}
Mes autorisations
{% endblock %}

{% block contenu %}
<center>
  <h2>Modifier l'autorisation de l'entreprise : {{ autorisation.professionnel.getNomEntrep }}</h2>
</center>
<br>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">

    {{ include('autorisation/_form.html.twig', {'button_label': 'Valider'}) }}
    <br>
    <center>
      {{ include('autorisation/_delete_form.html.twig') }}
    </center>

  </div>
  <div class="col-md-3">
  </div>
</div>
{% endblock %}
