{% extends 'proprietaire_base.html.twig' %}

{% block title %}
Mes alertes
{% endblock %}

{% block contenu %}
<center>
  <h1>Modifier l'alerte : {{ alerte.libelle }}</h1>
</center>
{{ include('alerte/_form.html.twig', {'button_label': 'Valider'}) }}
<br>
<center>
{{ include('alerte/_delete_form.html.twig') }}
</center>
{% endblock %}
