<!DOCTYPE html>

<title>Edit Alerte</title>

{% block body %}
    <h1>Edit Alerte</h1>

    {{ include('alerte/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('alerte_index', {idBien:bien.id}) }}">back to list</a>

    {{ include('alerte/_delete_form.html.twig') }}
{% endblock %}
