{% extends 'professionnel_base.html.twig' %}

{% block title %}
Interventions
{% endblock %}

{% block contenu %}
<h1>Intervention</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Libelle</th>
      <td>{{ intervention.libelle }}</td>
    </tr>
    <tr>
      <th>Type d'intervention</th>
      <td>{{ intervention.typeInterv }}</td>
    </tr>
    <tr>
      <th>Observation</th>
      <td>{{ intervention.observation }}</td>
    </tr>
    <tr>
      <th>Remarque</th>
      <td>{{ intervention.remarque }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
