<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <!-- Icone de la page -->
  <link rel="shortcut icon" href="images/icon/logo_homecare.ico">
  
  <title>
    {% block title %}

    Homecare

    {% endblock %}
  </title>

  {% block stylesheets %}
  <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">
  <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
{% endblock %}

</head>
<body>

  <!-- CONTAINER -->
  <div class="container-full">
    <div class="row">
      <div class="col-md-12">

        {% block intitule %}
        <div class="p-3" style="background-color:#098243;">
          <center><h1>
            <a href = "{{path('homecare')}}" style="color:white; text-decoration:none;">
              Homecare
            </a>
          </h1></center>
        </div>

        {% endblock %}

      </div>
    </div>
    <div class="row">
      <div class="col-md-3">

        {% block menuLateral %}


        {% endblock %}

      </div>
      <div class="col-md-9">
      </div>
    </div>
  </div>
{% block body %}{% endblock %}


<!-- JAVASCRIPT -->
{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{{asset('/js/bootstrap.min.js')}}"></script>

{% endblock %}
</body>
</html>
